
html, body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: my-japan-font;
    src: url(../Sign-Up-Form/fonts/osaka-re);
  }
  
.top-text {
    font-family: my-japan-font, sans-serif;
    font-size: 40px;
    color:rgb(253, 11, 168);
    text-align: center;
    align-self: left;
    padding-right: 75px;
}

.content {
    display: flex;
    flex-direction: row;
    
    width: 100vw;
    height: 100vh;
    
}

.main-photo {
    width: 40vw;
    height: 100vh
}


.right-side {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    width: 60vw;
    background-color: rgb(1, 10, 26);

    padding-left: 3vw; 
    
}

.logo {
    display: flex;
    position: absolute;
    top: 20vh;
    background-color: rgba(0,0,0,0.6);
    width: 40vw;
    align-items: center;
}

.shiba {
    opacity: 1;
    width: 10vw;
    height: auto;
    margin-left: 10vw;
}

.shiba-text {
    color: rgb(82, 237, 76);
    font-size: 50px;
    margin-left: 10px;
}


.input {
    color: rgb(243, 33, 114);
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    width: 40%;
}

.input input {
    border-radius: 5px;
}

.input input:hover {
    border-color:aqua; 
    border-radius: 2px;
    
}

form {
    display: flex;
    flex-flow: row wrap;
    font-family: Arial, Helvetica, sans-serif;
    
}

.login-link {
    color: aqua;
    display: flex;
    flex-flow: wrap;
    align-content: center;
    margin-left: 15px;
    gap: 5px;
}

.login-link a {
    justify-self: center; /* not working hmm */
    color: aliceblue;
    align-self: center;
    text-decoration: none;
}

.login-link a:hover {
    color: rgb(253, 11, 168)
}

.create-acc-btn {
    width: 300px;
    margin: 15px;
    
}

.create-acc-btn button {
    color:rgb(253, 11, 168);
    background-color: rgb(1, 10, 26);
    border: 2px solid rgb(253, 11, 168);
    border-radius: 3px;

    padding: 10px 40px;
    margin: 40px 0;
}

.create-acc-btn button:hover {
    background-color: rgb(253, 11, 168);
    color: rgb(1, 10, 26);
}
